In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
myDataset = pd.read_csv('dataset_final.csv')
print(myDataset)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
print('Total Pokemons:', len(myDataset))

Total Pokemons: 800

In [7]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
print('Pokemons tipo Poison:', len(myDataset[myDataset['Type 1'] == 'Poison']))

Pokemons tipo Poison: 28
0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [7]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
print('Tipos diferentes de Pokemons:', len(myDataset['Type 1'].unique()))
print('Tipos:', ", ".join(myDataset['Type 1'].unique()))

Tipos diferentes de Pokemons: 18
Tipos: Grass, Fire, Water, Bug, Normal, Poison, Electric, Ground, Fairy, Fighting, Psychic, Rock, Ghost, Ice, Dragon, Dark, Steel, Flying

In [8]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
print('Pokemons por tipo:\n', myDataset['Type 1'].value_counts())


'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
print('\nTipo con más Pokemons:', myDataset['Type 1'].value_counts().idxmax(), "con", myDataset['Type 1'].value_counts().max(), "Pokemons")

Pokemons por tipo:
 Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Tipo con más Pokemons: Water con 112 Pokemons

In [9]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
print("Pokemon más rápido:", myDataset[myDataset['Speed'] == myDataset['Speed'].max()]['Name'].values[0], "con velocidad", myDataset[myDataset['Speed'] == myDataset['Speed'].max()]['Speed'].values[0])

Pokemon más rápido: DeoxysSpeed Forme con velocidad 180

In [10]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100? 
'''
print('Defensa superior a 100:', len(myDataset[myDataset['Defense'] > 100]), "pokemons.")

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100? 
'''
print('Defensa superior a 100:', len(myDataset[myDataset['Defense'] > 100]), "pokemons.")

Defensa superior a 100: 123 pokemons.
Defensa superior a 100: 123 pokemons.

In [11]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
print('Defensa superior a 100 y velocidad superior a 100:', len(myDataset[(myDataset['Defense'] > 100) & (myDataset['Speed'] > 100)]), "pokemons.")
print('Lista de Pokemons:', ", ".join(myDataset[(myDataset['Defense'] > 100) & (myDataset['Speed'] > 100)]['Name'].values))

Defensa superior a 100 y velocidad superior a 100: 9 pokemons.
Lista de Pokemons: PinsirMega Pinsir, Lugia, SalamenceMega Salamence, MetagrossMega Metagross, LatiasMega Latias, Arceus, Durant, Cobalion, DiancieMega Diancie

In [12]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
print(myDataset.sort_values(by=['Type 1', 'Type 2']))

       #                     Name Type 1    Type 2  Total   HP  Attack  \
656  595                   Joltik    Bug  Electric    319   50      47
657  596               Galvantula    Bug  Electric    472   70      77
231  214                Heracross    Bug  Fighting    500   80     125
232  214  HeracrossMega Heracross    Bug  Fighting    600   80     185
697  636                 Larvesta    Bug      Fire    360   55      85
..   ...                      ...    ...       ...    ...  ...     ...
655  594                Alomomola  Water       NaN    470  165      75
724  656                  Froakie  Water       NaN    314   41      56
725  657                Frogadier  Water       NaN    405   54      63
762  692                Clauncher  Water       NaN    330   50      53
763  693                Clawitzer  Water       NaN    500   71      73

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
656       50       57       50     65           5      False
657       60       97       60    108           5      False
231       75       40       95     85           2      False
232      115       40      105     75           2      False
697       55       50       55     60           5      False
..       ...      ...      ...    ...         ...        ...
655       80       40       45     65           5      False
724       40       62       44     71           6      False
725       52       83       56     97           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False

[800 rows x 13 columns]

In [13]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
myDataset2 = myDataset[(myDataset['Type 1'] == 'Water') | (myDataset['Type 1'] == 'Fire')]
print(myDataset2)

       #                       Name Type 1  Type 2  Total  HP  Attack  \
4      4                 Charmander   Fire     NaN    309  39      52
5      5                 Charmeleon   Fire     NaN    405  58      64
6      6                  Charizard   Fire  Flying    534  78      84
7      6  CharizardMega Charizard X   Fire  Dragon    634  78     130
8      6  CharizardMega Charizard Y   Fire  Flying    634  78     104
..   ...                        ...    ...     ...    ...  ..     ...
735  667                     Litleo   Fire  Normal    369  62      50
736  668                     Pyroar   Fire  Normal    507  86      68
762  692                  Clauncher  Water     NaN    330  50      53
763  693                  Clawitzer  Water     NaN    500  71      73
799  721                  Volcanion   Fire   Water    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
..       ...      ...      ...    ...         ...        ...
735       58       73       54     72           6      False
736       72      109       66    106           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False
799      120      130       90     70           6       True

[164 rows x 13 columns]

In [14]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
myDataset3 = myDataset[myDataset['Legendary'] == True]
print(myDataset3)

       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

In [15]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
print('Promedio de stats de los pokemon Legendary:\n', myDataset.loc[myDataset['Legendary'] == True, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean())
print('\nPromedio de stats de los pokemon no Legendary:\n', myDataset.loc[myDataset['Legendary'] == False, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean())

Promedio de stats de los pokemon Legendary:
 HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      100.184615
dtype: float64

Promedio de stats de los pokemon no Legendary:
 HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
dtype: float64

In [16]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
legendary = myDataset.loc[myDataset['Legendary'] == True, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean()
noLegendary = myDataset.loc[myDataset['Legendary'] == False, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean()
print(pd.DataFrame([legendary, noLegendary], index=['Legendary', 'No Legendary']))

                     HP      Attack    Defense     Sp. Atk     Sp. Def  \
Legendary     92.738462  116.676923  99.661538  122.184615  105.938462
No Legendary  67.182313   75.669388  71.559184   68.454422   68.892517

                   Speed
Legendary     100.184615
No Legendary   65.455782

In [17]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
myDataset['Doble tipo'] = myDataset['Type 2'].notnull()
print(myDataset)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Doble tipo
0         65       65     45           1      False        True
1         80       80     60           1      False        True
2        100      100     80           1      False        True
3        122      120     80           1      False        True
4         60       50     65           1      False       False
..       ...      ...    ...         ...        ...         ...
795      100      150     50           6       True        True
796      160      110    110           6       True        True
797      150      130     70           6       True        True
798      170      130     80           6       True        True
799      130       90     70           6       True        True

[800 rows x 14 columns]

In [18]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
print((myDataset.loc[myDataset['Doble tipo'] == True, ['Name', 'Type 1', 'Type 2']]).sort_values(by=['Type 1', 'Type 2', 'Name']))

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [19]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

# A. Una función que calcule el precio total de la compra
def get_price(compra):
    return reduce(lambda x, y: x + y, map(lambda x: articulos[x], compra))

# B. Una función que calcule el precio total de la compra con un descuento del 10%
def calculate_discount(compra):
    return get_price(compra) - (get_price(compra) * 0.10)

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def apply_discount(compra):
    return calculate_discount(compra) if get_price(compra) > 100 else get_price(compra)

# D. Una función que calcule el precio total aplicando el IVA (21%)
def get_price_with_iva(compra):
    return apply_discount(compra) + (apply_discount(compra) * 0.21)

# E.lista los artículos cuyo precio es superior a 20€
def items_over_twenty(compra):
    result = []
    for item in articulos:
        if item in compra and articulos[item] > 20:
            if list(filter(lambda x: x > 20, articulos.values())):
                result.append(item + '(' + str(articulos[item]) + '€)')
    return result

print('Precio total:', get_price(compra),'€')
print('Precio total con 10% descuento:', calculate_discount(compra),'€')
print('Precio total con descuento si supera los 100€:', apply_discount(compra),'€')
print('Precio total con IVA:', get_price_with_iva(compra),'€')
print('Artículos cuyo precio es superior a 20€:', ", ".join((items_over_twenty(compra))))

Precio total: 155 €
Precio total con 10% descuento: 139.5 €
Precio total con descuento si supera los 100€: 139.5 €
Precio total con IVA: 168.795 €
Artículos cuyo precio es superior a 20€: Pantalón(30€), Gafas(25€), Corbata(40€)

In [20]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

def get_class_info(curso):
    return list(map(lambda x: (x[0], x[1], reduce(lambda x, y: x + y, x[3]) / len(x[3])), filter(lambda x: x[2] == curso, alumnos)))

data = get_class_info('1')
for item in data:
    print("Alumno: " + item[0] + " " + item[1] + "\nPromedio: " + str(item[2]) + "\n----------------------")

Alumno: Juan Pérez
Promedio: 7.0
----------------------
Alumno: Luis González
Promedio: 7.0
----------------------
Alumno: Pedro Rodríguez
Promedio: 7.0
----------------------
Alumno: Marta López
Promedio: 7.0
----------------------
Alumno: Javier Sánchez
Promedio: 7.0
----------------------
Alumno: Sergio Jiménez
Promedio: 7.0
----------------------
Alumno: Pablo Álvarez
Promedio: 7.0
----------------------